header{
    background-color: white;
    text-align: center;
}

header img{
    width: 100%;
    height: auto;
}

/* the period before container lets css know its a webpage */
.container{
    max-height: 600px;
    overflow-y: auto;
}